<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gavin.securitydemo.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.gavin.securitydemo.model.entity.SysUser">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="pass_word" jdbcType="VARCHAR" property="passWord"/>
        <result column="pw" jdbcType="VARCHAR" property="pw"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_name, pass_word, pw
    </sql>

<!--    <select id="selectRoleById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM sys_role WHERE id = #{id}
    </select>-->
</mapper>
